*{
	margin: 0;
	padding: 0;
}
body{
	width: 100vw;
	height: 100vh;
}
.playerContainer{
	display: flex;
}
.player1 {
width: 50%;
height: 30vh;
border: 1px solid red;
}
.player2 {
	width: 50%;
	height: 30vh;
	border: 1px solid green;
}
.winner{
	position: absolute;
	top: 0;
	left: 0;
	background: goldenrod;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.winner p{
	font-size: 5vw;
	margin-bottom: 2rem;
}